PORT=5001
JWT_SECRET=SUA_CHAVE_SECRETA_JWT_AQUI
JWT_EXPIRES_IN=8h
MONGO_URI=mongodb://Reparou:SUA_SENHA_AQUI@ac-hbdhgqi-shard-00-00.mzxjhm8.mongodb.net:27017,ac-hbdhgqi-shard-00-01.mzxjhm8.mongodb.net:27017,ac-hbdhgqi-shard-00-02.mzxjhm8.mongodb.net:27017/reparou?ssl=true&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
